html, body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* MAPA */
#map {
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* PANEL */
.panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  height: 100%;
  background: #5a141f;
  border-right: 1px solid #2b2b2b;
  overflow-y: auto;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.panel.oculto {
  transform: translateX(-100%);
}

.titulo {
  margin: 10px;
  color: #ffffff;
  font-size: 32px;
}

/* BLOQUES */
.bloque {
  border-bottom: 1px solid #2b2b2b;
}

.bloque h4 {
  margin: 0;
  padding: 8px;
  background: #ececec;
  opacity: 70%;
  color: #000000;
  font-size: 20px;
  cursor: pointer;
}

/* BOTÓN */
.btn-panel {
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 2000;
  background: #9D2449;
  color: hwb(120 96% 3%);
  border: none;
  padding: 10px 12px;
  font-size: 18px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: left 0.3s ease;
}

/* Cuando el panel está oculto */
.panel.oculto + .btn-panel,
.panel.oculto ~ .btn-panel {
  left: 10px; /* se mueve a la izquierda cuando el panel está oculto */
}

.item input[type="checkbox"] {
  accent-color: #af9b9b; /* color azul actual */
}

/* Checkbox personalizado */
.item input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #999;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-right: 6px;
}

/* Color cuando está activo */
.item input[type="checkbox"]:checked {
  background-color: #c71d34; /* color del check al encender */
  border-color: #f8f7f7;
}

.item input[type="checkbox"]:checked::after {
  content: '✔';
  position: absolute;
  top: -1px;
  left: 2px;
  font-size: 14px;
  color: white;
}

/* Color de las palabras de los proyectos */
.item span {
  color: #ffffff;  /* Cambia este valor por el color que quieras */
  font-weight: bold;
}
